/*--------------------------POPUP-----------------------------------*/
.popup {
    background-color: #ffffff;
    width: 450px;
    padding: 30px 40px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 8px;
    font-family: "Poppins", sans-serif;
    display: none;
    text-align: center;
}

.popup button {
    display: block;
    margin: 0 0 20px auto;
    background-color: transparent;
    font-size: 30px;
    color: #c5c5c5;
    border: none;
    outline: none;
    cursor: pointer;
}

.popup p {
    font-size: 14px;
    text-align: justify;
    margin: 20px 0;
    line-height: 25px;
}

/*-------------------------------------------------------------*/


.BOX_INF_PESSOAL {
    background-color: #9DB2BF;
    min-height: 100vh;
    /*vh serve para meter ate ao fundo da pagina*/
    width: 30%;
    float: left;
    /*border-radius: 15px;*/
    /*cantos curvos*/

}


th,td{
    padding-left: 50px;
    padding-right: 50px;
    border: 2px;
}


.Foto {
    width: 200px;
    border: 5px solid white;
    border-radius: 50%;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    /*centrar imagem*/
    margin-right: auto;
    /*centrar imagem*/

}

.INF_PESSOAL {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.INF_PESSOAL2 {
    text-align: left;
    margin-top: 30px;
}


.Experiencia_Profissional {
    text-align: left;
    width: 69%;
    float: right;
    margin-left: 10px;



}

.Emprego {
    margin-top: 20px;
}


.footer {
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 20px;
    /* altura do footer */
    background: black;
    margin-top: 15px;

}


/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
    margin: 0;
}

/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
    font: inherit;
}

/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/*
    8. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}