/*-----------------------------------------------------------------------------POPUP---------------------------------------------------------------------------*/

.grid{
    display: grid;
    grid-template-columns: 25% 70% ;
    min-height: 100vh;

}


/*-----------------------------------------------------------------------------Info Pessoal---------------------------------------------------------------------------*/
.BOX_INF_PESSOAL {
    background-color: #6493c9;
}

/*-----------------------------------------------------------------------------FOTO---------------------------------------------------------------------------*/
.Foto {
    width: 200px;
    border: 5px solid white;
    border-radius: 50%;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    /*centrar imagem*/
    margin-right: auto;
    /*centrar imagem*/
}

/*-----------------------------------------------------------------------------Projetos---------------------------------------------------------------------------*/
th,td{
    padding-left: 100px;
    padding-right: 10px;
    border: 2px;
}

/*-----------------------------------------------------------------------------Info Pessoal---------------------------------------------------------------------------*/
.INF_PESSOAL {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

/*---------------------------------------------------------------------------Experiencia profissional-------------------------------------------------------------------*/
.Experiencia_Profissional {
    text-align: left;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*-----------------------------------------------------------------------------Footer---------------------------------------------------------------------------*/
.footer {
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 20px;
    /* altura do footer */
    background: black;
}

/*-----------------------------------------------------------------------------arranjar pagina web--------------------------------------------------------------------*/
#popup {
    display:none;
    position:absolute;
    margin:0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.panel-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
    margin: 0;
}

/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
    font: inherit;
}

/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/*
    8. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}